body {
  margin: 0;
  background-color: white;
  font-family: hoefler;
}

code {
  white-space: pre;
}

h1 {
  margin-top: 0px;
  padding-top: 20px;
}

/* textarea {
  height: 90vh;
  width: 50%;
} */

.main {
  padding: 10px;
}

.search {
  width: 100%;
  font-size: 15px;
  line-height: 15px;
}

.sidebar {
  background-color: #f0f0f0;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 5px;
}

textarea {
  width: 90%;
  height: 70vh;
  padding: 5px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 18px;
  font-family: hack;
}

.page-name-field {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 18px;
  font-family: hack;
  margin-bottom: 1%;
}

.alert {
  width: fit-content !important;
}
