{% extends "encyclopedia/layout.html" %} 
{% load static %}
{% block title %} 
    {{title}} 
{% endblock %} 
{% block body %}
<div>
    <form method="post">
    {% csrf_token %}
        <div>
            <h4>{{title}}</h4>
        </div>
        <div>
        <textarea
            class="page-content-field"
            name="Ncontent"
        >{{oldcontent}}</textarea>
        </div>
        <div>
        <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
    
</div>
    <!-- safe makes it output HTML, which is avoided by default -->
{% endblock %}
