{% extends "encyclopedia/layout.html" %} 
{% block title %} 
    New Page 
{% endblock %} 
{% block body %}
    {{ content|safe }}
    <form method="post">
        {% csrf_token %}
        <input
            class="page-name-field"
            type="text"
            placeholder="Enter name of file"
            name="fname"
        />
        <label for="page-content-field">Page content in markdown</label>
        <textarea
            class="page-content-field"
            name="fcontent"
        ></textarea>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
{% endblock %}
