{% extends "encyclopedia/layout.html" %} 
{% load static %}
{% block title %} 
    New Page 
{% endblock %} 
{% block body %}
    {{ content|safe }}
    <form method="post">
        {% csrf_token %}
        <div>
        <input
            class="page-name-field"
            type="text"
            placeholder="Enter name of file"
            name="fname"
        />
        </div>
        <div>
        <textarea
            class="textarea-content"
            name="fcontent"
            placeholder="Page content in markdown syntax"
        ></textarea>
        </div>
        <div>
        <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </form>
{% endblock %}
